<div class="row">
    <div class="col-xs-12">
        <p>{{comment.body}}</p>
    </div>
    <div class="col-xs-12">
        <button class="btn-primary btm-sm" (click)="like()">Like</button>
        <button class="btn-primary btm-sm" (click)="reply()">Reply</button>
    </div>
    <hr>
    <div class="col-xs-12" *ngFor="let comment of comment.comments">
        <div class="panel panel-default">
            <p class="panel-body">
                {{comment.body}}
            </p>
            <div class="panel-footer text-center">
                {{comment.userName}}
            </div>
        </div>
    </div>
</div>