<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">

                <form novalidate autocomplete="off">
                    <div class="form-group">
                        <label for="message">comment</label>

                        <input type="text" class="form-control" required name="message" [(ngModel)]="first.body">

                        <!--<div *ngIf="message.errors && (message.dirty || message.touched)" class="alert alert-danger">
                            <div [hidden]="!message.errors.required">
                                *required
                            </div>
                        </div>-->

                    </div>
                    <button class="btn btn-default" (click)="addComment()" [disabled]="!first.body.length">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>